@import url(http://fonts.googleapis.com/css?family=Raleway);
html,body {
	padding:0px;
	margin:0px;
	font-family: 'Raleway', sans-serif;
}

#form1 {
	font-size:14px;
	padding:15px;
	width:100% !important;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */	
	border-radius:5px;
	background:rgba(32, 157, 146, 0.5);
	font-family: 'Raleway', sans-serif;
}

#form1 * {
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

table{
	width:100%;
}

#form1 tr{
	margin-bottom:10px;
}

#form1 td {
	display:block;
	width:100% !important;
	float:left;
	margin-bottom:5px;
	font-family: 'Raleway', sans-serif;
}

#form1 .td-input{
	width:50% !importnat;
}

#form1 span {
	width:100% !important;
}
#form1 input[type=text] , #form1 select , #form1 textarea  {
	width:100% !important;
	padding:5px !important;
}
#form1 textarea {
	height:50px;
}
#form1 div {
	padding:0px !important;
	margin:0px !important;
}
#form1 input[type=button] {
	
	
background: #f79138; /* Old browsers */
background: -moz-linear-gradient(top, #ffaf4b 0%, #ff920a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf4b), color-stop(100%,#ff920a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffaf4b 0%,#ff920a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffaf4b 0%,#ff920a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffaf4b 0%,#ff920a 100%); /* IE10+ */
background: linear-gradient(to bottom, #ffaf4b 0%,#ff920a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */

	
	
	/*background: linear-gradient(to top, #aad75b, #d1e990) repeat scroll 0 0 #d1e990;*/
    	color: #fff;
    	font-size: 14px;
    	height: 43px;
    	line-height: 43px;
    	padding: 0px 66px;
    	border: 1px solid rgba(0, 0, 0, 0);
    	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    	box-sizing: content-box;
    	cursor: pointer;
    	font-weight: bold;
    	outline: 0 none;
    	overflow: hidden;
    	position: relative;
   	text-align: center;
    	text-shadow: 0 1px 0 #fff;
    	text-transform: uppercase;
}
#form1 #ddlHomePhoneAreaCode {
	float:left;
	width:25% !important;
}
#form1 #rtbHomeNumber_wrapper {
	float:right;
	width:70% !important;
}
#form1 #rtbHomeNumber , #form1 #rtbPostCode {
	margin-top:2px;
	padding:6px !important;
}
#form1 #ddlState {
	float:left;
	width:100% !important;
}
#form1 #rtbPostCode_wrapper {
	float:right;
	width:100% !important;
}
#form1 #rblOwnProperty label {
	margin-right:20px !important;
}
#form1 tr.redNose {
	display:none;
}
#rblTitle {
	float:right;
}

tr#trStatePostCode, tr#trStatePostCode2{float:left; clear:both;}

@media (max-width: 220px) {
	#form1 #ddlState {
		width:40% !important;
	}	
	#form1 #rtbPostCode_wrapper {
		width:55% !important;
	}
	#form1 #ddlHomePhoneAreaCode {
		width:30% !important;
	}
	#form1 #rtbHomeNumber_wrapper {
		width:65% !important;
	}

}

@media (max-width: 166px) {
	#form1 #ddlHomePhoneAreaCode {
		float:none !important;
		width:100% !important;
	}	
	#form1 #rtbHomeNumber_wrapper {
		float:none !important;
		width:100% !important;
	}
	#form1 #ddlState {
		float:none !important;
		width:100% !important;
	}
	#form1 #rtbPostCode_wrapper {
		float:none !important;
		width:100% !important;
	}	
}